<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <p>
      To reset your password
      <a href="{{ url_for('reset_password', token=token, _external=True) }}"
        >click here</a
      >
    </p>
    <p>
      Alternatively, you cna apste, the following link in your browser's address
      bar:
    </p>
    <p>{{ url_for('reset_password', token=token, _external=True) }}</p>
    <p>
      If you have not requested a password reset simply ignore this message.
    </p>
    <p>Sincerely,</p>
    <p>Angelica's little blog</p>
    <script src="" async defer></script>
  </body>
</html>
